# PA 004

In [3]:
from IPython.core.display  import HTML

In [4]:
def jupyter_settings():
    #%matplotlib inline
    #%pylab inline
    
    #plt.style.use('bmh')
    #plt.rcParams['figure.figsize'] = [20, 12]
    #plt.rcParams['font.size'] = 25
    
    display(HTML( '<style>.container {width:100% !important;}</style>'))
   #pd.options.display.max_columns = None
   #pd.options.display.max_rows = None
   #pd.set_option('display.expand_frame_repr', False)
            
   #sns.set()

In [5]:
jupyter_settings ()

# Credentials

In [27]:
# Credentials
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
username = 'member'
pwd = 'cdspa'

# sqlalchemy connection

In [22]:
from sqlalchemy import create_engine

In [23]:
endpoint = 'postgresql://member:cdspa@comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com:5432/comunidadedsdb'
conn = create_engine(endpoint)

## Collect data using Pandas

In [24]:
import pandas as pd
import pandas.io.sql as psql

In [25]:
query_tables_users = """
        SELECT *
        FROM pa004.users u
        WHERE u.age > 44
        LIMIT 10
"""

df = psql.read_sql (query_tables_users, conn)
df.head()

   id  gender  age  region_code  policy_sales_channel
0   2    Male   76          3.0                  26.0
1   3    Male   47         28.0                  26.0
2   8  Female   56         28.0                  26.0
3  11  Female   47         35.0                 124.0
4  14    Male   76         28.0                  13.0

In [26]:
df1 = pd.read_sql (query_tables_users, conn)
df1.head()

   id  gender  age  region_code  policy_sales_channel
0   2    Male   76          3.0                  26.0
1   3    Male   47         28.0                  26.0
2   8  Female   56         28.0                  26.0
3  11  Female   47         35.0                 124.0
4  14    Male   76         28.0                  13.0

In [29]:
conn.dispose()